[workspace]
members = ["zypher/*", "programs/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace.dependencies]
network = { path = "zypher/network", package = "zypher-network" }
node = { path = "zypher/node", package = "zypher-node" }
runtime = { path = "zypher/runtime", package = "zypher-runtime" }
sync = { path = "zypher/sync", package = "zypher-sync" }
zcore = { path = "zypher/core", package = "zypher-core" }

# crates-io dependencies
anyhow = "1.0.100"
bs58 = "0.5.1"
clap = { version = "4.5.53", features = ["derive"] }
dirs = "6.0.0"
ed25519-dalek = "2.2.0"
frost-core = "2.2.0"
jsonrpsee-http-client = "0.26.0"
orchard = "0.11.0"
postcard = "1.1.3"
rand = "0.9.2"
rand_core = "0.6.4"
reddsa = { version = "0.5.1", features = [
    "frost",
    "serde",
], git = "https://github.com/ZcashFoundation/reddsa.git" }
secp256k1 = "0.31.1"
serde = "1.0.228"
serde_json = "1.0.145"
solana-sdk = { version = "3.0.0", features = ["full"] }
solana-signer = "3.0.0"
tokio = "1.48.0"
toml = "0.9.8"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
url = "2.5.7"
zcash_keys = { version = "0.12.0", features = [
    "orchard",
    "transparent-inputs",
    "unstable",
] }
zcash_primitives = "0.26.1"
zebra-chain = "3.0.1"
zebra-rpc = { version = "3.1.0", default-features = false }
