[workspace]
members = ["bridge", "programs/*"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.100"
clap = "4.5.52"
dirs = "6.0.0"
orchard = "0.11.0"
rand = "0.9.2"
secp256k1 = "0.31.1"
zcash_keys = { version = "0.12.0", features = [
    "orchard",
    "sapling",
    "transparent-inputs",
    "unstable",
] }
zcash_primitives = "0.26.1"
zebra-rpc = { version = "3.0.0", default-features = false }

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
